<h2>something here</h2>

{{#each booksFound}}
<br>
<a href="/book/{{_id}}">
  <p>Title: {{Title}}</p> 
  <p>Author: {{Author}}</p> 
  <p>Genre: {{Genre}}</p>
</a>
<br>

{{/each}}

{{#if userInSession}}
<p>Can't see what you are looking for? create it!</p>
<a href="/newbook">create a book</a>
{{else}}
<p>Can't see what you are looking for? login and create it!</p>
{{/if}}